.quiz {
    background-color: antiquewhite;
    border-radius: 7px;
}

.quiz * {
    margin-bottom: 1px;
    margin-left: 4px;
}

.quiz li {
    list-style: none
}

.quiz ul {
    padding-bottom: 5px;
}